<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit <%= playground.title %></h1>
  <div class="col-6 offset-3">
    <form class="validatedForm" action="/playgrounds/<%= playground._id %>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="playground[title]" value="<%= playground.title %>" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="playground[location]" value="<%= playground.location %>" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="playground[description]"><%= playground.description %></textarea>
      </div>
      <div>
        <label class="form-label" for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input class="form-control" type="text" id="price" placeholder="0.00" name="playground[price]" aria-describedby="price-label" value="<%= playground.price %>" />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Add new image(s)...</label>
        <div class="form-file custom-file">
          <input type="file" class="form-file-input" id="image" name="image" multiple>
          <label class="form-file-label" for="image">
            <span class="form-file-text custom-file-label">Choose Image...</span>
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>
      <div class="mb-3">
        <% playground.images.forEach((image, index) => { %>
          <img class="img-thumbnail" src="<%= image.thumbnail %>" alt="<%= playground.title %>">
          <div class="form-check-inline">
            <input type="checkbox" id="image-<%= index %>" name="deleteImages[]" value="<%= image.filename %>">
          </div>
          <label for="image-<%= index %>">Delete</label>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Playground</button>
      </div>
    </form>
  </div>
</div>