<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit <%= playground.title %></h1>
  <div class="col-md-6 offset-md-3">
    <form class="validatedForm" action="/playgrounds/<%= playground._id %>?_method=PUT" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="playground[title]" value="<%= playground.title %>" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="playground[location]" value="<%= playground.location %>" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input class="form-control" type="text" id="image" name="playground[image]" value="<%= playground.image %>" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="playground[description]"><%= playground.description %></textarea>
      </div>
      <div>
        <label class="form-label" for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input class="form-control" type="text" id="price" placeholder="0.00" name="playground[price]" aria-describedby="price-label" value="<%= playground.price %>" />
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Playground</button>
      </div>
    </form>
  </div>
</div>