<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <img src="<%= playground.image %>" class="card-img-top" alt="<%= playground.title %>" />
      <div class="card-body">
        <h5 class="card-title"><%= playground.title %></h5>
        <p class="card-text"><%= playground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= playground.location %></li>
        <li class="list-group-item">$<%= playground.price %>/day</li>
      </ul>
      <div class="card-body">
        <a href="/playgrounds/<%= playground._id %>/edit" class="card-link btn btn-info">Edit</a>
          <form class="d-inline" action="/playgrounds/<%= playground._id %>?_method=DELETE" method="POST">
            <button class="card-link btn btn-danger">Delete</button>
          </form>
        </a>
      </div>
    </div>
    <h2>Leave a Review</h2>
    <form action="/playgrounds/<%= playground._id %>/review" class="validatedForm mb-5" method="POST">
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review:</label>
        <textarea class="form-control" name="review[body]" id="review" cols="30" rows="3" required></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>