<% layout('layouts/boilerplate') %>
<h1><%= playground.title %></h1>
<h2><%= playground.location %></h2>
<img src="<%= playground.image %>" alt="<%= playground.title %>" />
<p><%= playground.description %></p>
<form action="/playgrounds/<%= playground._id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>