<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/starability.css">

<div class="row">
  <div class="col-6">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% playground.images.forEach((image, index) => { %>
          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <img src="<%= image.url %>" class="d-block w-100" alt="<%= playground.title %>">
          </div>
        <% }) %>
      </div>
      <% if (playground.images.length > 1) { %>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
      <% } %>
    </div>


    <div class="card">
      <!-- <% for (let image of playground.images) { %>
        <img src="<%= image.url %>" class="card-img-top" alt="<%= playground.title %>" />
      <% } %> -->
      <div class="card-body">
        <h5 class="card-title"><%= playground.title %></h5>
        <p class="card-text"><%= playground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= playground.location %></li>
        <li class="list-group-item">$<%= playground.price %>/day</li>
      </ul>
      <% if (currentUser && playground.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/playgrounds/<%= playground._id %>/edit" class="card-link btn btn-info">Edit</a>
          <form class="d-inline" action="/playgrounds/<%= playground._id %>?_method=DELETE" method="POST">
            <button class="card-link btn btn-danger">Delete</button>
          </form>
        </a>
      </div>
      <% } %>
    </div>
  </div>
  
  <div class="col-6">
    <% if (currentUser) { %>
    <h2>Leave a Review</h2>
    <form action="/playgrounds/<%= playground._id %>/review" class="validatedForm mb-5" method="POST">
      <fieldset class="starability-grow mb-3">
        <legend>Rating:</legend>
        <input type="radio" id="first-rate1" name="review[rating]" checked value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <div class="mb-3">
        <label class="form-label" for="body">Review:</label>
        <textarea class="form-control" name="review[body]" id="review" cols="30" rows="3" required></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    <% } %>
    </form>
      <% for (let review of playground.reviews) { %>
        <div class="card mb-3">
          <div class="card-body">
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rating: <%= review.rating %> stars
            </p>
            <p class="card-subtitle mb-2 text-muted">By @<%= review.author.username %></p>
            <p class="card-text"><%= review.body %></p>
            <% if (currentUser && review.author.equals(currentUser._id)) { %>
              <!-- <a href="/playgrounds/<%= playground._id %>/review/<%= review._id %>/edit" class="card-link btn btn-sm btn-info">Edit</a> -->
              <form class="d-inline" action="/playgrounds/<%= playground._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
                <button class="card-link btn btn-sm btn-danger">Delete</button>
              </form>
            <% } %>
          </a>
          </div>
        </div>
    <% } %>
  </div>
</div>